{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "sso-django-prototype" %}{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="card mx-auto mt-5" style="width: 25rem;">
        <div class="card-body">
            <h3 class="card-title">Keycloak Authentication</h3>
            {% if user.is_anonymous %}
            <form action="{% url 'social:begin' 'odl-oidc' %}" method="get">
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
            {% else %}
            <p>Hello, {{ user.name }}.
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
